#!/usr/bin/env bash
export DEGUB=1 # change to 0 outside of dev
export PRODUCTION=0 # change to 1 in prod
export SECRET_KEY='Add yours here from https://djecrety.ir/'
export DJANGO_ALLOWED_HOSTS = * localhost 127.0.0.1 [::1]
export EMAIL_NAME = "apikey"
export EMAIL_PASS = "" 
export SENDGRID_API_KEY = ""
export POKEMONTCG_IO_API_KEY = ""
export DATABASE_URL = ""
export RENDER_EXTERNAL_HOSTNAME = ""
export DJANGO_STATIC_HOST = ""
export USE_S3 =  # Toggle to false for local collectstatic / true for aws s3 bucket 
export AWS_ACCESS_KEY_ID = ""
export AWS_SECRET_ACCESS_KEY = ""
export AWS_STORAGE_BUCKET_NAME = ""
export DEFAULT_FROM_EMAIL = ""