{% extends 'base/base.html'%}
<!-- prettier-ignore -->
{% block title %} Password Reset 
{% endblock title %}
{% block content %}
{% if validlink %}
<section class="p-6 my-12 scroll-mt-16 section-min-height">
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<h2 class="text-4xl font-bold text-center sm:text-5xl mb-6">Change Password</h2>
<form method="post" class="max-w-4xl mx-auto text-2xl sm:text-3xl flex flex-col items-left gap-4">
	{% csrf_token %} {{ form.as_p }}
	<button
		type="submit"
		value="Password"
		class="bg-secondary hover:bg-blue-800 active:bg-blue-300 text-white p-3 w-48 rounded-xl border border-solid border-slate-900 dark:border-none"
	>
		Change Password
	</button>
</form>
</section>
{% else %}
<section class="p-6 my-12 scroll-mt-16 section-min-height">
<p class="max-w-md text-2xl mt-4 text-center sm:text-left">The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.</p>
</section>
{% endif %} {% endblock %}
