{% extends 'base/base.html' %}
<!-- prettier-ignore -->
{% load static %}
{% block title %} Collection {% endblock title %}
{% block content %}
<section class="p-6 my-12 scroll-mt-20 section-min-height">
	<h2 class="text-4xl font-bold text-center sm:text-5xl mb-6">
		{{collection.title}}
	</h2>
	{% if collection.cards %}
	<article
		id="table-button"
		class="hidden sm:flex justify-center gap-3 my-4 p-0.5"
	>
		<div class="w-1/6">
			<button
				id="dropdownViewButton"
				type="button"
				data-dropdown-toggle="dropdown"
				class="font-bold bg-secondary text-white hover:bg-gray-600 rounded-lg p-2 text-center inline-flex items-center justify-center w-full"
			>
				Image
			</button>
		</div>
		<div class="w-1/6">
			<button
				id="dropdownSortButton"
				type="button"
				data-dropdown-toggle="dropdown"
				class="font-bold bg-secondary text-white hover:bg-gray-600 rounded-lg p-2 text-center inline-flex items-center w-full justify-center"
			>
				Sort
				<svg
					class="w-2.5 h-2.5 ml-2.5"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 10 6"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="m1 1 4 4 4-4"
					/>
				</svg>
			</button>
			<div
				id="sort-div"
				class="hidden absolute w-[7.5%] z-10 bg-secondary text-white divide-y divide-primary rounded-lg shadow p-2"
			>
				<ul aria-labelledby="dropdownViewButton" class="text-sm">
					<li id="sort-set" class="block p-2 hover:bg-gray-600 cursor-pointer">
						Set
					</li>
					<li id="sort-name" class="block p-2 hover:bg-gray-600 cursor-pointer">
						Name
					</li>
					<li
						id="sort-rarity"
						class="block p-2 hover:bg-gray-600 cursor-pointer"
					>
						Rarity
					</li>
					<li
						id="sort-types"
						class="block p-2 hover:bg-gray-600 cursor-pointer"
					>
						Types
					</li>
					<li
						id="sort-supertype"
						class="block p-2 hover:bg-gray-600 cursor-pointer"
					>
						Supertype
					</li>
					<li
						id="sort-subtypes"
						class="block p-2 hover:bg-gray-600 cursor-pointer"
					>
						Subtypes
					</li>
					<li
						id="sort-price"
						class="block p-2 hover:bg-gray-600 cursor-pointer"
					>
						Price
					</li>
				</ul>
			</div>
		</div>
	</article>
	<article
		id="search-table"
		class="my-8 hidden sm:flex items-center justify-center"
	>
		<table
			id="card-table"
			class="w-full text-base text-left border border-collapse"
		>
			<thead id="search-header" class="text-lg uppercase">
				<tr>
					<th scope="col" class="p-3">Set</th>
					<th scope="col" class="p-3">No</th>
					<th scope="col" class="p-3">Name</th>
					<th scope="col" class="p-3">Rarity</th>
					<th scope="col" class="p-3">Types</th>
					<th scope="col" class="p-3">Supertype</th>
					<th scope="col" class="p-3">Subtypes</th>
					<th scope="col" class="p-3">Price</th>
					<th scope="col" class="p-3">Collection</th>
				</tr>
			</thead>
			<tbody>
				{% for card in collection.cards.all %}
				<tr>
					<td class="p-3">{{ card.set }}</td>
					<td class="p-3">{{ card.number }}</td>
					<td class="p-3">{{ card.name }}</td>
					<td class="p-3">{{ card.rarity }}</td>
					<td class="p-3">{{ card.types }}</td>
					<td class="p-3">{{ card.supertype }}</td>
					<td class="p-3">{{ card.subtypes }}</td>
					<td class="p-3 text-right">${{ card.price }}</td>
					<td class="p-3">
						<button
							type="submit"
							id="{{card.id}}"
							value="{{card.id}}"
							class="text-red-500 active:text-red-700 hover:text-red-300"
						>
							Remove
						</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</article>
	<article
		id="search-results-image"
		class="mx-auto my-8 grid grid-cols-1 sm:grid-cols-5 sm:gap-4 sm:hidden items-center justify-center"
	>
		{% for card in collection.cards.all %}
		<img
			src="{{card.small_image}}"
			alt="{{card.name}}"
			width="auto"
			height="auto"
			class="mb-6 w-full cursor-pointer"
		/>
		{% endfor %}
	</article>
	{% else %}
	<p>Search for Cards to Add to Your Collection</p>
	{% endif %}
</section>
{% endblock content %}
