{% extends 'base/base.html' %}
<!-- prettier-ignore -->
{% load static %}
{% block title %} Search Results {% endblock title %}
{% block content %}
<section class="p-6 my-12 scroll-mt-20 section-min-height">
	<h2 id="search" class="text-4xl font-bold text-center sm:text-5xl mb-6">
		Search
	</h2>

	<form
		id="search-form"
		action="."
		class="max-w-4xl mx-auto text-2xl sm:text-3xl flex flex-col items-left gap-4"
	>
		<input
			type="text"
			name="search-bar"
			id="search-bar"
			required
			minlength="3"
			maxlength="60"
			placeholder="*Enter a pokemon's name..."
			class="w-full text-black text-2xl sm:text-3xl p-3 rounded-xl border border-solid border-slate-900"
		/>
		<button
			id="search-btn"
			type="submit"
			value="Search"
			class="bg-secondary hover:bg-blue-800 active:bg-blue-300 text-white p-3 w-48 rounded-xl border border-solid border-slate-900 dark:border-none"
		>
			Search
		</button>
	</form>
	<h2
		id="search-loading"
		class="hidden text-4xl font-bold text-center sm:text-5xl mb-6"
	>
		Loading...
	</h2>
	<article
		id="table-button"
		class="hidden sm:hidden justify-center gap-3 my-4 p-0.5"
	>
		<div class="w-1/6">
			<button
				id="dropdownViewButton"
				type="button"
				class="font-bold bg-secondary text-white hover:bg-gray-600 rounded-lg p-2 text-center inline-flex items-center justify-center w-full"
			>
				Image
			</button>
		</div>
		<div class="w-1/6">
			<button
				id="dropdownSortButton"
				type="button"
				class="font-bold bg-secondary text-white hover:bg-gray-600 rounded-lg p-2 text-center inline-flex items-center w-full justify-center"
			>
				Sort
				<svg
					class="w-2.5 h-2.5 ml-2.5"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 10 6"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="m1 1 4 4 4-4"
					/>
				</svg>
			</button>
			<div
				id="sort-div"
				class="hidden absolute w-[7.5%] z-10 bg-secondary text-white divide-y divide-primary rounded-lg shadow p-2"
			>
				<ul class="text-sm">
					<li id="sort-set" class="block p-2 hover:bg-gray-600 cursor-pointer">
						Set
					</li>
					<li id="sort-name" class="block p-2 hover:bg-gray-600 cursor-pointer">
						Name
					</li>
					<li
						id="sort-rarity"
						class="block p-2 hover:bg-gray-600 cursor-pointer"
					>
						Rarity
					</li>
					<li
						id="sort-types"
						class="block p-2 hover:bg-gray-600 cursor-pointer"
					>
						Types
					</li>
					<li
						id="sort-supertype"
						class="block p-2 hover:bg-gray-600 cursor-pointer"
					>
						Supertype
					</li>
					<li
						id="sort-subtypes"
						class="block p-2 hover:bg-gray-600 cursor-pointer"
					>
						Subtypes
					</li>
					<li
						id="sort-price"
						class="block p-2 hover:bg-gray-600 cursor-pointer"
					>
						Price
					</li>
				</ul>
			</div>
		</div>
	</article>

	<article
		id="search-table"
		class="my-8 hidden sm:flex items-center justify-center"
	>
		<table
			id="card-table"
			class="w-full text-base text-left border border-collapse"
		>
			<thead id="search-header" class="text-lg uppercase hidden">
				<tr>
					<th scope="col" class="p-3">Set</th>
					<th scope="col" class="p-3">No</th>
					<th scope="col" class="p-3">Name</th>
					<th scope="col" class="p-3">Rarity</th>
					<th scope="col" class="p-3">Types</th>
					<th scope="col" class="p-3">Supertype</th>
					<th scope="col" class="p-3">Subtypes</th>
					<th scope="col" class="p-3">Price</th>
					<th scope="col" class="p-3">Collection</th>
				</tr>
			</thead>
			<tbody id="search-results-table"></tbody>
		</table>
	</article>
	<article
		id="search-results-image"
		class="mx-auto my-8 grid grid-cols-1 sm:grid-cols-5 sm:gap-4 sm:hidden items-center justify-center"
	></article>
	{% if collections %}
	<form
		id="submit-form"
		action="{% url 'core:add_card' %}"
		method="POST"
		class="max-w-4xl mx-auto text-2xl sm:text-3xl flex flex-col items-left gap-4"
	>
		{% csrf_token %}
		<div id="collections" class="w-full hidden">
			<label for="collection" class="block mb-1 text-sm font-medium"
				>Collection:</label
			>
			<select
				name="collection_id"
				form="submit-form"
				id="collection"
				class="border border-gray-300 text-sm rounded-lg block w-full p-2.5"
			>
				{% for collection in collections%}
				<option value="{{collection.id}}">{{collection.title}}</option>
				{% endfor %}
			</select>
		</div>
		<button
			id="submit-button"
			type="submit"
			value="Submit"
			class="hidden bg-secondary hover:bg-blue-800 active:bg-blue-300 text-white p-3 w-48 rounded-xl border border-solid border-slate-900 dark:border-none"
		>
			Submit
		</button>
	</form>
	{% else %}
	<h2
		class="w-full flex flex-row justify-center items-center border border-solid border-slate-900 bg-white py-6 px-2 rounded-3xl shadow-xl"
	>
		<a
			href="{% url 'core:create_collection'%}"
			class="text-secondary hover:text-blue-800 active:text-blue-300"
			>Create Collection</a
		>
	</h2>
	{% endif %}
</section>
{% endblock content %}
