{% extends 'base/base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}
{% block content %}
<section class="p-6 my-12 scroll-mt-16 section-min-height ">
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<h2 class="text-4xl font-bold text-center sm:text-5xl mb-6">{{user.first_name}}'s Profile</h2>
	<img src="{{ user.profile.avatar.url}}" alt="user profile picture" width=200px
		height=200px/>
	<p class="max-w-md text-2xl mt-4 text-center sm:text-left ">Username: {{user.username}}</p>
	<p class="max-w-md text-2xl mt-4 text-center sm:text-left ">Email: {{user.email}}</p>
	<p class="max-w-md text-2xl mt-4 text-center sm:text-left ">First Name: {{user.first_name}}</p>
	<p class="max-w-md text-2xl mt-4 text-center sm:text-left ">Last Name: {{user.last_name}}</p>
	<p class="max-w-md text-2xl mt-4 text-center sm:text-left ">Bio: {{user.profile.bio}}</p>
	
	<div class="mt-8">
	<p><a href="{% url "users:update_profile" pk=request.user.profile.id %}" class="text-secondary hover:text-blue-800 active:text-blue-300">Update Profile</a></p>
	<p><a href="{% url "users:update_user" pk=request.user.profile.id %}" class="text-secondary hover:text-blue-800 active:text-blue-300">Update User</a></p>
	
</section>
{% endblock content %}
