{% extends 'base/base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}
{% block content %}
<section class="p-6 my-12 scroll-mt-16 section-min-height ">
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<h2 class="text-4xl font-bold text-center sm:text-5xl mb-6">{{user.first_name}}'s Profile</h2>
	<article class="mx-auto my-12 flex flex-col sm:flex-row items-center gap-8">
	<img width="auto"
			height="auto" src="{{ user.profile.avatar.url}}" alt="user profile picture" class="mx-auto mb-6 w-1/2"/>
		<div  class="flex flex-col gap-2">
	<p class="text-3xl mt-2 flex sm:flex-row flex-col gap-4 items-center"><span class="font-bold">Username:</span>{{user.username}}</p>
	<p class="text-3xl mt-2 flex sm:flex-row flex-col gap-4 items-center"><span class="font-bold">Email:</span> {{user.email}}</p>
	<p class="text-3xl mt-2 flex sm:flex-row flex-col gap-4 items-center"><span class="font-bold">First Name:</span> {{user.first_name}}</p>
	<p class="text-3xl mt-2 flex sm:flex-row flex-col gap-4 items-center"><span class="font-bold">Last Name:</span> {{user.last_name}}</p>
	<p class="text-3xl mt-2 flex sm:flex-row flex-col gap-4 items-center"><span class="font-bold">Bio:</span> {{user.profile.bio}}</p>
	<div class="mt-8">
	<p class="text-3xl mt-2 items-center"><a href="{% url "users:update_profile" pk=request.user.profile.id %}" class="text-secondary hover:text-blue-800 active:text-blue-300">Update Profile</a></p>
	<p class="text-3xl mt-2 items-center"><a href="{% url "users:update_user" pk=request.user.profile.id %}" class="text-secondary hover:text-blue-800 active:text-blue-300">Update User</a></p>
	</div>
	</article>
</section>
{% endblock content %}
